asgiref==3.6.0
crispy-bootstrap5==0.7
Django==4.1.7
django-crispy-forms==2.0
numpy==1.24.2
rdkit-pypi==2022.9.5
six==1.16.0
sqlparse==0.4.3
tzdata==2023.3
openbabel-wheel==3.1.1.16
pubchempy==1.0.4
scipy==1.10.1
morfeus-ml==0.5.5
goodvibes==3.2
dbstep==1.1.0
openpyxl==3.1.2
pandas==2.0.2
xlsxwriter==3.1.2