{% extends "file_storage/base.html" %}
{% block content %}
<div class="library-post-grid">

    <!-- Left Section -->
    <div class="left-section library-post-grid-item">
      <!-- Top Left Half -->
      <div class="text-container">
        <a class="molecule-name" href="#">Kraken Library</a>
      </div>
  
      <!-- Bottom Left Half -->
      <div class="library-post-image-container">
        <img class="library-post-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Monophosphan.svg/1200px-Monophosphan.svg.png" alt="Small Picture">
      </div>
    </div>
  
    <!-- Right Section -->
    <div class="library-post-grid-item library-post-image-container">
      <img class="library-post-image" src="https://www.unisyscat.de/fileadmin/_processed_/8/6/csm_Kraken_Quadrat_kleiner_1820604e49.png" alt="Profile Image">
    </div>
  
</div>
{% endblock content %}