{% extends "file_storage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom">Create New Project</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
    </div>

    <br>
    <br>

    <div class="content-section">
        <h2>Projects</h2>
        <table class="table table-striped table-hover bg-white">
            {% for instance in project %}
                <tr>
                    <td>{{ instance.name }}</td>
                    <td><a href="{% url 'file_storage:view_project' pk=instance.id %}" class="btn btn-primary">View</a></td>
                    <td>
                        <form action="{% url 'file_storage:delete_project' pk=instance.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">Delete</button>
                        </form>
                    </td>
                    <td>
                        <a href="/stats/project/{{ instance.id }}/pdf/" class="btn btn-primary" download>Download PDF</a>
                    </td>
        </tr>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}